.form-container {
    max-width: 400px;
    margin: 30px;

  }
  
  .form-container form div {
    margin-bottom: 20px;
  }
  
  .form-container form label {
    display: block;
  }
  
  .form-container form input,
  .form-container form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .form-container form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .form-container form button:hover {
    background-color: #45a049;
  }
  

.title {
    text-align: center;
    margin: auto;
    margin: 20px;
}
